html {
  background-color: #333333;
}

html, body, .container {
  height: 100%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;;

}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.box {
  margin: 10px;
  width: 250px;
}

.content {
  display: none;
}

p {
  text-align: center;
  padding: 5px;
  margin: 0px;
  font-family: monospace;
  font-size: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.category p {
  color: #FFFFFF;
  font-size: 24px;
}

.content p {
  color: #FFFFFF;
  background-color: rgba(102,102,102,.3);
  font-size: 12px;
}

.content p:hover {
  color: #FF9900;
}

.word-border:hover {
  border-left: 2px solid #FF9900;
  border-right: 2px solid #FF9900;
  padding: 0px 5px 0px 5px;
}

.searchbox {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 40px;
}

.searchbox input {
  text-align: center;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

.searchbox input::-webkit-input-placeholder{
  color: #FFFFFF;
  font-family: 'Consolas', monospace;
}


input:focus {
  outline: none;
  border-bottom: 2px solid #FF9900;
}

#clock {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  margin: 10px;
}
